body {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  background-color: #ffeecf;
}

h1 {
  font-weight: 900;
  font-size: 3rem;
  margin: 7px auto;
}

h2 {
  font-weight: 300;
  margin: 8px auto;
}

input,
textarea,
button,
select,
a,
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.start-btn {
  margin: 5% auto 10%;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 .2em gray;
  cursor: pointer;
  outline: none;
  font-size: 2rem;
}

.board {
  display: block;
  margin: auto;
}

.hide {
  display: none;
}

.board-button {
  display: inline-block;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 5px solid black;
  margin: 15px;
  cursor: pointer;
}

.red {
  background-color: red;
}

.green {
  background-color: #00EC1F;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.to-press {
  background-color: rgba(255, 8, 0, 0.5);
}

.pressed {
  opacity: 0.3;
  box-shadow: 0 0 10px 5px rgba(0, 0, 255, 1);
}

.gameOver {
  background-color: #DA2A24;
}

@media only screen and (max-device-width: 768px) {
  h1 {
    padding-top: 5%;
    font-size: 6rem;
  }

  h2 {
    font-size: 2.3rem;
  }

  .start-btn {
    font-size: 3rem;
  }

  .start-board,
  .board {
    margin-top: 30%;
  }

  .board-button {
    width: 200px;
    height: 200px;
  }
}
